* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}


li {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    /* border: 0 照顾低版本浏览器,如果图片外面包含了链接,会有边框的问题 */
    border: 0;
    /* 取消图片底册有空白缝隙的问题 */
    vertical-align: middle;
}

/* 鼠标经过 button 时,鼠标变成小手 */
button {
    cursor: pointer;
}

a {
    color: rgba(66,66,66,1);
    text-decoration: none;
}

a:hover {
    color: #c81623;
}

button,
input,
textarea{
    /* "\5B8B\4F53"是宋体的意思,这样浏览器兼容性比较好 */
    font-family: Microsoft Yahei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    border: 0;
    outline: none;
}

body {
    /* CSS3 属性,抗锯齿性,让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: rgba(238, 238, 238, 1);
    font: 12px/1.5 Microsoft Yahei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

p {
    font-size: 14px;
    line-height: 24px;
    /*text-indent:2em;*/
    color: #333333;
    margin: 0 36px;
    zoom: 1;
}

p, pre{
    user-select: text;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(196,196,196,1);
    font-size: 16px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(196,196,196,1);
    font-size: 16px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(196,196,196,1);
    font-size: 16px;
}

.btnForbidden{
    pointer-events: none;
}

.btnPermit{
    pointer-events: auto;
}

.w {
    width: 1200px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
}

router-view{
    float: none;
}
body {
    margin: 0;
}
.loader {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    transform: translate3d(-50%, -50%, 0);

}
.dot {
    width: 24px;
    height: 24px;
    background: #3ac;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
}
.dot:nth-child(1) {
    animation-delay: 0.1s;
    background: #32aacc;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
    background: #64aacc;
}
.dot:nth-child(3) {
    animation-delay: 0.3s;
    background: #96aacc;
}
.dot:nth-child(4) {
    animation-delay: 0.4s;
    background: #c8aacc;
}
.dot:nth-child(5) {
    animation-delay: 0.5s;
    background: #faaacc;
}
@-moz-keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@-o-keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
